## Shortcuts

In [ ]:
- ESC + 1,2,3 (To convert cell create heading )
- ESC + M (convert selected cell into markdown)
- ESC + A (create a cell above)
- ESC + B (create a cell below)
- ESC + DD (to delete any selected cell)
- ESC + Y (convert any cell into code)
- Shift + Enter (Execute the cell)
- CTRL + Enter (run but stay in same cell
- CTRL + Shift + H (to get all shortcut commands)

## Conditional operators  <,>,=>,<=,!=

In [ ]:
print("Qasim" != "Hassan" )
print("Qasim" == "Qasim")
print

## Logical Operators AND, OR, NOT

In [35]:
print("Qasim" != "Hassan") and ("Qasim" != "Asad")
print("Qasim" != "Hassan") or ("Qasim" != "Asad")
print("Qasim" != "Hassan") and ("Qasim" == "Asad")
print("Qasim" == "Asad") or ("A" == "B")

True
True
True
False

False

## Conditional Statements

In [38]:
name = "Asad"

if name == "Qasim":
    print("Teacher")
else:
    print("Student")

Student

In [42]:
name = "Shan"

if name == "Qasim":
    print("Triner")
elif name == "Shan":
    print("Staff")
else:
    print("Student")

Staff

In [82]:
## Help -- Shift + Tab 
## By default input function is string
input("Enter Your Name:")

Enter Your Name: Shoaib

'Shoaib'

## 5% bonus if experience is greater than 5 years

In [88]:
exp = int(input("How much is your experiece?"))

if exp>5:
    salary = float(input("What is your salary?"))
    print("Net bonus:" + str((5/100)*salary))
else:
    print("You are not eligible")

How much is your experiece? 6
What is your salary? 544444

Net bonus:27222.2

## Voting eligiblity

In [100]:
age = int(input("What's your age?"))

if age >= 18:
    print("Eligible")
else:
    print("Not eligible")

What's your age? 17

Not eligible

## Number is completely divisible by 5

In [106]:
number = int(input("Enter Number:"))

if number%5 == 0:
    print("Hello")
else:
    print("Bye")

Enter Number: 7

Bye

## Marks and corresponding grades

In [134]:
Marks = int(input("Enter your marks?"))

if Marks > 80 and Marks <=100:
    print("Grade: A")
elif Marks >= 60 and Marks <= 80:
    print("Grade: B")
elif Marks >= 50 and Marks <= 60:
    print("Grade: C")
elif Marks >= 45 and Marks <= 50:
    print("Grade: D")
elif Marks >= 25 and Marks <= 45:
    print("Grade: E")
elif Marks < 25:
    print("Grade: F")
else:
    print("Invalid input")

Enter your marks? 101

Invalid input

# Nested If-Else Statements

In [152]:
nat = input("what is your nationality?")
          
if nat.lower() == "pakistani":
    age = int(input("Whats your age?"))
    if age >= 18:
            print("Eligible")
    else:
            print("Not Eligible")
else:
    print("You are not pakistani !!")

what is your nationality? Pakistani
Whats your age? 75

Eligible

# Check gender and age
- Ask user to enter age and gender ( M or F ) and then using following rules print their place of service.
- employee is female, then she will work only in urban areas.
- employee is a male and age is in between 20 to 40 then he may work in anywhere
- if employee is male and age is in between 40 t0 60 then he will work in urban areas only.m
- And any other input of age should print "ERROR"

In [164]:
gender = input("What's your gender? M for Male and F for Female")
#maritial status = input("Your maritial status? Y or N")

if gender.lower() == 'f':
    print("You can work in urban areas only")
elif gender.lower() == 'm':
    age = int(input("What's your age?"))
    if age >= 20 and age <= 40:
        print("You can work anywhere")
    elif age >= 40 and age <=60 :
        print("You can only work in urban areas")
    else:
        print("Error")
else:
    print("Error")

What's your gender? M for Male and F for Female M
What's your age? 50

You can only work in urban areas

## Multiline comments

In [172]:
'''
hekkpppwdawndwawd
'''
print("hello")

hello

## Lists
- Lists always starts with []
- Values can be separated by ,
- Indexing will start from 0 (Left to Right)
- Indexing will start from -1 (Right to Left)

In [3]:
cities = ["karachi","Lahore","Multan"]

In [5]:
cities

['karachi', 'Lahore', 'Multan']

In [7]:
cities[1]

'Lahore'

In [188]:
cities[-1]

'Multan'

## Slicing
- Starting value is always been included
- Last value is always not be included

In [9]:
cities[0:]

['karachi', 'Lahore', 'Multan']

In [11]:
cities[1:]

['Lahore', 'Multan']

In [13]:
cities[1:2]

['Lahore']

In [15]:
cities[:1]

['karachi']

In [17]:
cities[:2]

['karachi', 'Lahore']

## Lists: Adding and changing elements

In [19]:
cities[0] = "New York"

In [21]:
cities

['New York', 'Lahore', 'Multan']

In [23]:
cities.append("Turbat")

In [25]:
cities

['New York', 'Lahore', 'Multan', 'Turbat']

In [27]:
cities.remove("Turbat")

In [29]:
cities

['New York', 'Lahore', 'Multan']

In [31]:
cities[0]

'New York'

In [35]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [37]:
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [39]:
latest_task_accomplished = tasks.pop(1)

In [41]:
tasks

['email Frank', 'meet with Zach']

In [43]:
latest_task_accomplished

'call Sarah'

In [45]:
tasks_accomplished.append(tasks.pop(1))

NameError: name 'tasks_accomplished' is not defined

In [47]:
tasks_accomplished.append(latest_task_accomplished)

NameError: name 'tasks_accomplished' is not defined